*{
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1079px) {
    body {
        background-color: white;
    }

    #wrapper {
        max-width: 100%;
        height: 100vh; /*veiw height*/
        width: 100%;
        margin: 0 auto;
        background-color: rgb(82, 82, 82);

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /*grid-template-columns: 1fr;*/
        /*grid-template-rows: 8% minmax(80%, min-content) 12%;*/
        row-gap: 10px;
        overflow-y: auto;
        flex-shrink: 0;
    }

    #page_header {
        /*grid-row: 1/2;*/
        /*grid-column: 1/2;*/
        display: flex;
        flex-direction: row;
        height: 120px;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 5px;
        background-color: rgb(156, 156, 156);
    }

    #page_header > #logo, hr, nav {
        display: none;
    }

    #page_header h1 {
        position: relative;
        font-size: 36px;
        width: 80%;
    }

    #burger_menu {
        background-color: transparent;
        background-image: linear-gradient(to right, #000, #000);
        background-position: center;
        background-repeat: repeat-x;
        background-size: 100% 2px;
        border: 0;
        height: 34px;
        padding: 0;
        position: relative;
        transition: transform 0.2s;
        width: 40px;
    }
}