*{
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 1079px) {
    body {
        background-color: white;
    }

    #wrapper {
        max-width: 100%;
        height: 100vh; /*veiw height*/
        width: 100%;
        margin: 0 auto;
        background-color: rgb(82, 82, 82);

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /*grid-template-columns: 1fr;*/
        /*grid-template-rows: 8% minmax(80%, min-content) 12%;*/
        row-gap: 10px;
        overflow-y: auto;
        flex-shrink: 0;
    }

    #page_header {
        /*grid-row: 1/2;*/
        /*grid-column: 1/2;*/
        display: flex;
        flex-direction: row;
        height: 120px;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 5px;
        background-color: rgb(156, 156, 156);
    }

    #page_header > #logo, hr, nav {
        display: none;
    }

    #page_header h1 {
        position: relative;
        font-size: 36px;
        width: 80%;
    }

    #burger_menu {
        background-color: transparent;
        background-image: linear-gradient(to right, #000, #000);
        background-position: center;
        background-repeat: repeat-x;
        background-size: 100% 2px;
        border: 0;
        height: 34px;
        padding: 0;
        position: relative;
        transition: transform 0.2s;
        width: 40px;
    }

    main {
        /*grid-row: 2/3;*/
        /*grid-column: 1/2;*/

        height: fit-content;
        background-color: rgb(252, 243, 227);
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        /*padding: 5px 0;*/
    }

    .main-article {
        display: inline-block;
        background-color: white;
        border: black 1px solid;
        /*padding: 10px 5px;*/
    }

    .main-article header {
        padding: 5px 0;
    }

    .main-article h2 {
        font-size: 36px;
    }

    .main-article p {
        font-size: 26px;
    }

    main aside {
        display: none;
    }

    #page_footer {
        /*grid-row: 3/4;*/
        /*grid-column: 1/2;*/

        display: block;
        min-height: 120px;
        padding: 10px 0;
        align-content: center;
        justify-items: center;
        background-color: rgb(156, 156, 156);
    }

    #page_footer section {
        height: 100%;
        /*background-color: lightgray;*/
        align-content: center;
        justify-content: center;
    }

    #page_footer h2{
        font-size: 22px;
        font-weight: normal;
    }

    #page_footer > nav {
        display: none;
    }
}

@media (min-width: 1080px)
{
    #wrapper {
        max-width: 100%;
        margin: 0 auto;
        background-color: rgb(255, 244, 214);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page_header {
        position: sticky;
        top: 0;
        width: 100%;
        display: grid;
        grid-template-rows: 200px 50px;
        grid-template-columns: 200px auto;
        row-gap: 10px;
        background-color: rgb(156, 156, 156);
        padding: 10px;
    }

    #page_header #logo {
        grid-row: 1/2;
        grid-column: 1/2;
        display: block;
    }

    #page_header h1 {
        grid-row: 1/2;
        grid-column: 2/3;
        display: block;
        /*margin: 10px;*/
        height: auto;
        width: 100%;
        justify-self: center;
        align-content: center;
        text-align: center;
        font-size: 38px;
        font-weight: bold;
        background-color: lightgray;
    }

    #burger_menu{
        grid-row: 1/2;
        grid-column: 2/3;
        display: none;
    }

    #page_header nav {
        grid-row: 2/3;
        grid-column: 1/3;
        display: block;
        width: 100%;
        background-color: lightgray;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    nav ul li {
        display: inline-block;
    }
}