*{
    font-family: 'Lucida Sans', Verdana, sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 1079px) {


    body {
        background-color: rgb(218, 228, 255);
    }

    #wrapper {
        max-width: 100%;
        height: 100vh; /*view height*/
        width: 100%;
        margin: 0 auto;
        background-color: rgb(221, 233, 255);

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        /*grid-template-columns: 1fr;*/
        /*grid-template-rows: 8% minmax(80%, min-content) 12%;*/
        /*row-gap: 10px;*/
        overflow-y: auto;
        flex-shrink: 0;
    }

    #page_header {
        /*grid-row: 1/2;*/
        /*grid-column: 1/2;*/
        display: flex;
        flex-direction: row;
        height: 120px;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 5px;
        background-color: rgb(208, 130, 61);
        border: 1px black;
        border-bottom-style: solid;
    }

    .sticker-header {
        position: sticky;
        top: 0;
        min-height: 120px;
        min-width: 100%;
    }

    #page_header > #logo, hr, nav {
        display: none;
    }

    #page_header h1 {
        position: relative;
        font-size: 36px;
        width: 80%;
    }

    #burger_menu {
        background-color: transparent;
        background-image: linear-gradient(to right, #000, #000);
        background-position: center;
        background-repeat: repeat-x;
        background-size: 100% 2px;
        border: 0;
        height: 34px;
        padding: 0;
        position: relative;
        transition: transform 0.2s;
        width: 40px;
    }



    #burger_menu::before,
    #burger_menu::after {
        background: #000;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        width: 100%;
    }

    #burger_menu::before {
        top: 0;
    }

    #burger_menu::after {
        bottom: 0;
    }

    main {
        /*grid-row: 2/3;*/
        /*grid-column: 1/2;*/

        height: fit-content;
        background-color: rgb(254, 234, 209);
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        /*padding: 5px 0;*/
    }

    .main-article {
        display: inline-block;
        background-color: rgb(241, 206, 154);
        border: black 1px solid;
        /*padding: 10px 5px;*/
    }

    .main-article header {
        padding: 10px 0;
        background-color: rgb(232, 180, 121);
        border: 1px black;
        border-bottom-style: solid;
    }

    .main-article img{
        display: block;
        height: fit-content;
        width: 75%;
        justify-self: center;
        padding: 20px;
        margin: 0 auto;
    }

    .main-article h2 {
        font-size: 36px;
        padding: 0 5px;
    }

    .main-article p {
        font-size: 26px;
        padding: 0 5px;
        margin: 10px 0;
    }

    .first-paragraph::first-letter {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 28px;
    }

    .main-article .api-form {
        height: fit-content;
        width: 100%;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .api-form section {
        display: block;
        width: 100%;
        height: fit-content;
        background-color: rgb(254, 234, 209);
        box-shadow: black 3px 3px 3px;
        padding: 5px;
        text-align: center;
    }

    .api-form ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }

    .api-form li,
    .api-form li label,
    .api-form section button,
    .api-form #api_input_label{
        font-size: 26px;
    }

    .api-form #api_input_label{
        display: block;
    }

    .api-form #api_results ul {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-items: left;
        text-align: left;
        list-style: none;
    }

    .api-form h3 {
        padding-bottom: 10px;
        font-size: 28px;
    }
    .api-form h4 {
        padding-bottom: 10px;
        font-size: 30px;
    }

    .api-form h5 {
        padding-bottom: 10px;
        font-size: 28px;
    }

    .api-form #api_input {
        padding: 5px;
        margin: 5px;
        font-size: 28px;
    }

    input[name="api_option"]{
        height: 20px;
        width: 20px;
    }

    .api-form #api_buttons_list {
        justify-content: center;
    }

    .api-form .api_button {
        margin: 5px;
        padding: 5px;
        background-color: lawngreen;
        box-shadow: inset #61c700c9 0 0 0 2px;
    }

    .instructionsList {
        width: auto;
        height: fit-content;
        text-align: left;
        text-indent: -28px;
        padding-left: 28px;
        display: flex;
        flex-direction: column;
        list-style-type: decimal;
        list-style-position: inside;
    }

    main aside {
        display: none;
    }

    #page_footer {
        /*grid-row: 3/4;*/
        /*grid-column: 1/2;*/

        display: block;
        min-height: 120px;
        padding: 10px 0;
        align-content: center;
        justify-items: center;
        background-color: rgb(208, 130, 61);
    }

    #page_footer section {
        height: 100%;
        /*background-color: lightgray;*/
        align-content: center;
        justify-content: center;
    }

    #page_footer h2{
        font-size: 22px;
        font-weight: normal;
    }

    #page_footer > nav {
        display: none;
    }
}

@media (min-width: 1080px)
{
    #wrapper {
        max-width: 100%;
        margin: 0 auto;
        background-color: rgb(221, 233, 255);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #page_header {
        position: sticky;
        top: 0;
        width: 100%;
        display: grid;
        grid-template-rows: 200px 50px;
        grid-template-columns: 200px auto;
        row-gap: 10px;
        background-color: rgb(208, 130, 61);
        padding: 10px;
        border: 1px black;
        border-bottom-style: solid;
    }

    #page_header #logo {
        grid-row: 1/2;
        grid-column: 1/2;
        display: block;
    }

    #page_header h1 {
        grid-row: 1/2;
        grid-column: 2/3;
        display: block;
        /*margin: 10px;*/
        height: auto;
        width: 100%;
        justify-self: center;
        align-content: center;
        text-align: center;
        font-size: 38px;
        font-weight: bold;
        background-color: rgb(234, 180, 102);
    }

    #burger_menu{
        grid-row: 1/2;
        grid-column: 2/3;
        display: none;
    }

    #page_header nav {
        grid-row: 2/3;
        grid-column: 1/3;
        display: block;
        width: 100%;
        background-color: rgb(234, 180, 102);
    }

    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
    }

    nav ul li {
        display: inline-block;
    }

    main {
        grid-row: 2/3;
        padding: 10px 0;

        background-color: rgb(254, 234, 209);
        width: 70%;
        justify-self: center;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(2, minmax(300px, auto));
        grid-template-columns: repeat(2, 1fr) 0.75fr;
    }

    .main-article {
        /*display: block;*/
        height: fit-content;
        border: black 1px solid;
        margin: 10px;
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        background-color: rgb(241, 206, 154);
    }

    .first-paragraph::first-letter {
        text-transform: uppercase;
        font-weight: 500;
        font-style: oblique;
        font-size: 24px;
    }

    .main-article img, .aside-section img {
        display: block;
        height: fit-content;
        width: 75%;
        justify-self: center;
        padding: 10px;
        margin: 0 auto;
    }

    .api-form {
        border: 1px black;
        /*border-top-style: solid;*/
        border-bottom-style: solid;
        display: flex;
        flex-direction: column;
    }

    .api-form section {
        display: block;
        width: 100%;
        height: fit-content;
        background-color: rgb(254, 234, 209);
        padding: 5px;
        text-align: center;
    }

    .api-form ul {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
    }

    .api-form #api_results ul {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-items: left;
        text-align: left;
        list-style: none;
    }

    .api-form h3 {
        padding-bottom: 10px;
        font-size: 22px;
    }

    .api-form h4 {
        padding-bottom: 10px;
        font-size: 24px;
    }

    .api-form h5 {
        padding-bottom: 10px;
        font-size: 20px;
    }

    .api-form li,
    .api-form li label,
    .api-form section button,
    .api-form #api_input_label{
        font-size: 14px;
    }

    .api-form #api_input_label{
        display: block;
    }

    .api-form #api_input {
        padding: 5px;
        margin: 5px;
    }

    .api-form #api_buttons_list {
        justify-content: center;
    }

    .api-form .api_button {
        margin: 5px;
        padding: 5px;
        background-color: lawngreen;
        box-shadow: inset #61c700c9 0 0 0 2px;
    }

    .instructionsList {
        width: auto;
        height: fit-content;
        text-align: left;
        text-indent: -28px;
        padding-left: 28px;
        display: flex;
        flex-direction: column;
        list-style-type: decimal;
        list-style-position: inside;
    }

    article header {
        grid-row: 1/2;
        background-color: rgb(232, 180, 121);
        border: 1px black;
        border-bottom-style: solid;
    }

    article footer {
        grid-row: auto;
    }

    article h2 {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding: 10px 0;
    }


    article p {
        /*grid-row: 2/3;*/
        display: block;
        text-align: left;
        font-size: 18px;
        text-wrap: auto;
        padding: 5px;
    }

    main #article_1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    main #article_2 {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    main #article_3 {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    main #article_4 {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    main #article_5 {
        grid-row: 3/4;
        grid-column: 1/2;
    }

    main #article_6 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    aside {
        grid-row: 1/3;
        grid-column: 3/4;
        margin: 10px;
        border: black 1px solid;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .aside-section {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: auto;
        margin: 10px;
        border: black 1px solid;
        row-gap: 5px;
        background-color: rgb(241, 206, 154);
        justify-self: center;
    }

    .aside-section h3 {
        display: block;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        height: 15%;
        background-color: rgb(232, 180, 121);
        border: 1px black;
        border-bottom-style: solid;
    }

    .aside-section p {
        padding: 0 5px;
    }

    .aside-section footer {
        display: block;
        width: 100%;
        height: auto;
        background-color: rgb(208, 130, 61);
        padding: 2px;
    }

    #page_footer {
        width: 100%;
        height: 150px;
        background-color: rgb(208, 130, 61);
        padding: 10px;
    }

    #page_footer section {
        height: 100%;
        background-color: rgb(234, 180, 102);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
    }

    #page_footer h2, #page_footer nav {
        display: block;
        align-self: center;
        width: 40%;
        background-color: rgb(234, 180, 102);
    }

    #page_footer h2 {
        align-self: center;
        text-align: center;
        font-size: 18px;
        font-weight: normal;
    }

    #page_footer nav ul {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

}

.hidden {
    display: none;
}

.errorMessage {
    font-size: 16px !important;
    color: red;
}